wsl-mule-usecases/mule-fork-and-join-pattern/src/main/app/mule-fork-and-join-pattern.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:https="http://www.mulesoft.org/schema/mule/https"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.2/mule-http.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/3.2/mule-https.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/3.2/mule-xml.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.2/mule-scripting.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.2/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd" version="EE-3.4.1">

	<flow name="forkAndJoinFlow" doc:name="forkAndJoinFlow">
		<http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="getLowPrice" doc:name="HTTP"/>
		<not-filter doc:name="Not">
			<wildcard-filter pattern="*favicon*" caseSensitive="true"/>
		</not-filter>
		<!-- FORK AND JOIN -->
		<request-reply>
			<!-- FORK -->
			<all enableCorrelation="ALWAYS">				
				<http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="atStorePrice" doc:name="HTTP"/>
				<http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="atMarketPrice" doc:name="HTTP"/>	
			</all>
			<!-- JOIN -->
			<vm:inbound-endpoint path="response">
				<message-properties-transformer>
					<!--Below property specifies wait for  number of targets to receive responses-->
					<add-message-property key="MULE_CORRELATION_GROUP_SIZE" value="2" />
				</message-properties-transformer>
				<collection-aggregator /> 			
			</vm:inbound-endpoint>
		</request-reply>
        <logger message="AFter forkandjoin:::::::::::::::::::::::::::#[payload]" level="INFO" doc:name="AfterReqRply"/>
		<!-- Operation On AggregateMessage -->
		<expression-transformer evaluator="groovy" expression="java.util.Collections.min(payload)" doc:name="Expression"/>
		<object-to-string-transformer doc:name="Object to String"/>
		<logger level="WARN" message="#[string:Lowest price: #[payload]]" doc:name="Logger"/>
	</flow>
	
	<flow name="store1Flow" doc:name="store1Flow">
		<http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="atStorePrice" doc:name="HTTP"/>
		<not-filter doc:name="Not">
			<wildcard-filter pattern="*favicon*" caseSensitive="true"/>
		</not-filter>
		<expression-transformer evaluator="groovy" expression="new java.lang.Double(1000.0 * Math.random()).intValue()" doc:name="Expression"/>
		<logger level="INFO" message="Price from store1::::::::::::::::::::::::: #[payload]" doc:name="Logger"/>
	</flow>
	
	<flow name="store2Flow" doc:name="store2Flow">		
		<http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="atMarketPrice" doc:name="HTTP"/>
		<not-filter doc:name="Not">
			<wildcard-filter pattern="*favicon*" caseSensitive="true"/>
		</not-filter>		
		<expression-transformer evaluator="groovy" expression="new java.lang.Double(1000.0 * Math.random()).intValue()" doc:name="Expression"/>
		<logger level="WARN" message="Price from store 2::::::::::::::::::::::::::::::::::::::::::::: #[payload]" doc:name="Logger"/>
	</flow>



</mule>