testingprocess/munit-mock-db/src/main/app/munitMockDB.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<jdbc-ee:oracle-data-source name="Oracle_Data_Source"
		user="scsi" password="scsi" url="jdbc:oracle:thin:@//localhost:1521/demodb"
		transactionIsolation="UNSPECIFIED" doc:name="Oracle Data Source" />
	<jdbc-ee:connector name="OracleDBConnector"
		dataSource-ref="Oracle_Data_Source" validateConnections="true"
		queryTimeout="-1" pollingFrequency="0" doc:name="DatabaseConnector" />
	<flow name="munit-db-mockFlow" doc:name="munit-db-mockFlow">
		<http:inbound-endpoint exchange-pattern="request-response"
			host="localhost" port="8081" doc:name="HTTP" path="triggerDB"/>
		<jdbc-ee:outbound-endpoint exchange-pattern="request-response"
			queryKey="selectQ" queryTimeout="-1" connector-ref="OracleDBConnector"
			doc:name="Select records of table1">
			<jdbc-ee:query key="selectQ" value="Select * from table1" />
		</jdbc-ee:outbound-endpoint>
        <logger level="INFO" doc:name="Logs Payload" message="#[payload]"/>
	</flow>
</mule>
