example-mule-context-notification/src/main/app/MuleContextNotificationExample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

	<spring:beans>
		<spring:bean name="MuleCustomContextNotificationBean" class="com.wsl.mulenotifications.MuleCustomContextNotification">
		</spring:bean>
	</spring:beans>

	<notifications>
		<notification-listener ref="MuleCustomContextNotificationBean" />
	</notifications>
	
	<flow name="MuleContextNotificationExampleFlowVM" doc:name="MuleContextNotificationExampleFlowVM">
        <vm:inbound-endpoint exchange-pattern="one-way" path="vmQFlow1" doc:name="VM-vmQFlow1"/>
        <logger message="From flow: #[flow.name], Current Payload:#[payload]" level="INFO" doc:name="Logs payload"/>
	</flow>
</mule>
